body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    line-height: 140%;
    font-size: medium;
  }
  
  .inner-table-2 {
    border-collapse: collapse;
    width: 68%;
    margin-bottom: 20px;
  }

  .inner-table-3 {
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 20px;
  }
  
  .table-2 td {
    border-collapse: collapse;
    width: 20%;

  }
  
  .table-2 th, .table-2 td {
    border: 1px solid black;
    padding: 3px;
    text-align: left;
  }
  
  .table-2 th {
    font-weight:bold;
  }
  
  .table-2 tr:nth-child(::-webkit-meter-even-less-good-value) {
    background-color: #f2f2f2;
  }

  .table-3 {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
  }

  .table-3 td:last-child {
    text-align: left;
    color: rgb(168, 15, 51);
    font-size: smaller;
  }
  
  button {
    padding: 10px 20px;
    background-color: #bebebe;
    color: rgb(10, 2, 2);
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #45a049;
  }